* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: rgb(219, 219, 219);
    flex-direction: column;
    transition: 0.3s;
}

.header {
    display: flex;
    width: 100%;
    background-color: #34495e;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

.theme-toggler {
    position: absolute;
    justify-content: center;
    right: 50px;
}

.theme-label {
    width: 140px;
    height: 60px;
    position: relative;
    display: block;
    background: white;
    border-radius: 40px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

.theme-label:after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 9px;
    left: 9px;
    background: linear-gradient(180deg, #ffcc89,#d8860b);
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.theme-label:active:after {
    width: 40px;
}

.sun-icon,.moon-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    z-index: 100;
}

.sun-icon {
    right: 10px;
    fill: #fff;
    transition: 0.3s;
}

.moon-icon {
    left: 10px;
    fill: #7e7e7e;
    transition: 0.3s;
    opacity: 0;
}

.theme-input:checked + .theme-label .sun-icon {
    fill: #7e7e7e;
    opacity: 0;
}

.theme-input:checked + .theme-label .moon-icon {
    fill: #fff;
    opacity: 1;
}

.theme-input {
    visibility: hidden;
    height: 0;
    width: 0;
}

.theme-input:checked + .theme-label {
    background: #242424;
}

.theme-input:checked + .theme-label:after {
    left: 130px;
    transform: translateX(-100%);
    background: white;
}

body.dark-mode .container{
    background-color: white;
}

body.dark-mode .controls, body.dark-mode .heap-container {
    background-color: #333333;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.page-title {
    font-size: 3rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
    padding: 10px 30px;
}

.container {
    display: flex;
    gap: 3rem;
    max-width: 1500px;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    background-color: #333333;
    border-radius: 12px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heap-container {
    flex: 3;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#heapSvg {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.controls {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.controls h3 {
    font-size: 1.75rem;
    margin-bottom: 15px;
    text-align: center;
}

.controls label {
    margin: 10px 0;
    font-size: 1rem;
    padding: 12px;
    color: #000000;
}

.controls select, .controls input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    box-sizing: border-box;
}

#insertBtn, #randomHeap {
    background-color: #4CAF50;
}

#searchBtn, #convertHeap {
    background-color: #3b5de5;
}

#deleteRootBtn, #deleteBtn {
    background-color: red;
}

.controls div {
    display: flex;
    gap: 10px;
}

.controls div input, .controls div select {
    margin-right: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #34495e;
    color: #ffffff;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    font-size: 1rem;
}

.footer-left p {
    margin: 0;
    font-size: 1.1rem;
    color: #ecf0f1;
}

.footer-left strong {
    color: rgb(230, 230, 230);
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.footer-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 8px;
}